@use 'src/styles/base.scss' as base;

.aboutMe {
	padding: 100px 250px 40px 150px;
	display: grid;
	grid-template-columns: 1fr;

	div {
		display: block;
		.playerWrapper {
		}

		.reactPlayer {
		}
	}

	// .infoAboutMe {
	// 	display: grid;
	// 	grid-template-columns: 1fr 1fr;
	// 	margin: 0 11%;
	// }
}
