html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body,
#root {
	// margin: 0;
	font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.container {
	background: silver;
	// background-image: url(/assets/red-rock-4159077_1920.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	margin: 0;
}

.homeButton {
	position: fixed;
	bottom: 0;
	left: 46%;
	font-size: 2em;
	border: none;
	cursor: pointer;
	color: blue;
}

.homeButton:hover {
	background-color: lightgrey;
}
