.projects {
	margin: 40px 250px 40px 150px;

	.project {
		display: grid;
		grid-template-columns: 1fr 1fr;

		button {
			padding: 0;
			margin: 0;
			border: 0;
			font-size: 1.5em;
			outline: none;

			.individProject {
				border: 1px solid green;
				display: grid;
				grid-template-columns: 268px 1fr;
				align-items: center;
				justify-items: center;
				height: 268px;
				width: 100%;
				overflow: hidden;
				cursor: pointer;

				img {
					width: 268px;
					height: 268px;
				}

				h3 {
					color: red;
				}

				div {
					border: none;
					display: flex;
					flex-direction: column;
				}
			}

			.zoomIn,
			.zoomIn1,
			.zoomIn2,
			.zoomIn3,
			.zoomIn4,
			.zoomIn5 {
				background: white;
				position: absolute;
				top: 40px;
				left: 150px;
				right: 250px;
				border: 4px solid blue;
				display: grid;
				cursor: pointer;
				grid-template-columns: auto 200px 1fr;

				h3 {
					text-align: center;
				}

				img {
					width: 600px;
					height: 800px;
				}
			}
		}
	}
}
