.projectsContainer {
  
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;

    h3 {
      text-align: center;
    }

    div {
      width: 200px;
      display: grid;
      grid-template-columns: 60px 1fr;

      div {
        display: flex;
        flex-direction: column;
      }
    }
  }
}