.projects {
	padding: 40px 250px 40px 150px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;

	a {
		text-decoration: none;

		.individProject {
			// border: 1px solid green;
			display: grid;
			grid-template-columns: 200px 1fr;
			align-items: center;
			justify-items: center;
			height: 200px;
			overflow: hidden;
			cursor: pointer;

			img {
				width: 200px;
				height: 200px;
			}

			h3 {
				color: red;
			}

			div {
				border: none;
				display: flex;
				flex-direction: column;
			}
		}
	}
}
