@use 'src/styles/base.scss' as base;

.project {
	padding: 100px 250px 40px 150px;

	.project1 {
		display: grid;
		grid-template-columns: 70px auto 70px;

		a.arrow {
			align-self: center;
			padding: 0px 10px;

			svg {
				font-size: 50px;
				color: base.$darkBlueColor;
			}
		}

		a {
			text-decoration: none;
			color: black;
			display: flex;

			img {
				width: 500px;
				height: 700px;
			}

			div {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				padding: 20px;

				h1 {
					text-align: center;
					color: base.$darkBlueColor;
				}

				p {
					margin: 0;
					font-size: 1.5em;
					color: base.$blueColor;
				}
			}
		}
	}
}
