.project {
	padding: 100px 250px 40px 150px;

	a {
		text-decoration: none;
		color: black;

		.project1 {
			border: 1px solid black;
			display: grid;
			grid-template-columns: auto 1fr;

			img {
				width: 500px;
				height: 700px;
			}

			div {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				padding: 20px;

				h1 {
					text-align: center;
					color: red;
				}

				p {
					// text-align: center;
					margin: 0;
					font-size: 1.25em;
				}
			}
		}
	}
}
